<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pandaq.app_launcher">

    <application>
        <!--配置 Application-->
        <meta-data
            android:name="com.pandaq.app_launcher.app.LifeCycleInjector"
            android:value="@string/lifecycle_proxy" />

        <activity
            android:name=".ui.launch.FlashActivityCore"
            android:theme="@style/FullScreenNoTitleTheme" />

        <activity
            android:name=".ui.home.HomeActivityCore"
            android:label="主页"
            android:theme="@style/BaseAppTheme" />

        <activity android:name=".ui.widgets.GalleryActivityCore" />
        <activity android:name=".ui.testlist.TestListActivityCore" />
    </application>

</manifest>