<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pandaq.app_jetpack">

    <application>
        <activity
            android:name="com.pandaq.app_jetpack.MainActivity"
            android:theme="@style/BaseAppTheme" />
        <activity
            android:name=".app.ui.zhihu.ZhihuListActivity"
            android:label="未使用自定义 Actionbar"
            android:theme="@style/BaseAppTheme" />

        <meta-data
            android:name="com.pandaq.app_jetpack.app.lifecycle.LifeCycleInjector"
            android:value="@string/lifecycle_proxy" />
    </application>

</manifest>