<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pandaq.uires">

    <application>
        <activity
            android:name=".html.HtmlActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".html.HtmlNoTitleActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarTheme" />
    </application>
</manifest>
